
<html>
<body onload="fon()">
</body>

</html>
<script src="{{ asset('util/jquery-3.3.1.min.js') }}"></script>
<script>

    function fon() {

        window.location = 'http://localhost/paw_web/web/app_dev.php/login';
        console.log("sqfdqzsd");
    }

</script>