{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}



    <br><br><br><br><br><br><br>


    <h1  style="background-color:DodgerBlue;"> Cette page est pour les annonces Trouveés </h1>
   
    <br><br><br><br><br><br><br>



{% endblock content%}