

    {% extends "AppBundle::client_layout.html.twig" %}

    {% block content %}

        <div class="container">

            <section class="purchas-main">
                <div class="container bg-border">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <h1 class="purchae-hed">Votre Commande a été bien enregistré</h1></div>
                        <div class="col-md-5 col-sm-5 col-xs-12"><a href="{{ path('home_member') }}" class="btn btn-primary purchase-styl pull-right">Retourner a la page d'acceuil</a></div>
                    </div>
                </div>
            </section>



        </div>


    {% endblock content%}



