{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <!-- Contact form Section Start -->
            <div class="col-md-5 " align="center">
                <h3>Vous partez en vacances ou en déplacement et ne savez pas comment faire garder votre compagnon à quatre pattes ?</h3></br>
                <div class="text-center">
                    <h3 class="border-success"><span class="heading_border bg-success">Déposez votre demande</span></h3>
                </div>

                <form enctype="multipart/form-data" method="post" class="contact" >
                    <div class="form-group">
                        <label>Le type de l'animal :</label>
                        <select name="type">
                            <option value="chien">chien</option>
                            <option value="chat">chat</option>
                            <option value="cheval">cheval</option>
                        </select>
                        <!--<input type="text" class="form-control input-lg" name="type" placeholder="type">-->
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control input-lg" name="age" placeholder="age" min="0" max="60" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="couleur" placeholder="couleur">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-lg" name="race" placeholder="race">
                    </div>
                    <div class="form-group">
                        <label>Le sexe de l'animal :</label> <select name="sexe">
                            <option value="male">male</option>
                            <option value="female">female</option>
                        </select>
                        <!--  <input type="text" class="form-control input-lg" name="sexe" placeholder="sexe"> -->
                    </div>
                    <div class="form-group">
                        <label> Date de garde : </label>    <input type="date" class="form-control input-lg" name="datesit" placeholder="date garde">
                    </div>
                    <div class="form-group">
                        <label> Dure de garde ( Jours ) : </label>    <input type="number" class="form-control input-lg" name="duresit" placeholder="Dure de garde" min="1" max="30" >
                    </div>
                    <div class="form-group">
                        <textarea class="form-control input-lg no-resize" name="todolist" rows="6" placeholder="To Do list"></textarea>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control input-lg no-resize" name="message" rows="6" placeholder="message compelementaire"></textarea>
                    </div>

                    <div class="form-group">
                        <input name="image" accept="image/*" type="file">
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary" type="submit">  Valider  </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <br>

{% endblock content%}