{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}
    <div class="container">
    <br>
    <div class="text-center">
        <h3 class="border-primary"><span class="heading_border bg-primary"> Ajout d'une offre d'adoption</span></h3>
    </div>
    <br>


    <div style="text-align: center">
        {{ form_start(form) }}

        {{ form_end(form) }}

    </div>

    <br>
    <br>



</div>

{% endblock content%}