{% extends "AppBundle::client_layout.html.twig" %}

{% block content %}
    <div class="container">


    <br><br>


    <h1  style="background-color:DodgerBlue;"> Réponse enregistrée avec succès </h1>


    <br><br>

    </div>

{% endblock content%}